/*/* Filtering */
.sv-filter {
text-align: center;
  /* width: 100%; */
  list-style: none;
  /* display: inline-block; */
  text-decoration: underline;
  text-align: center;
  position: relative;
  padding: 0px 10px;
  /* left: 4%; */
}

.sv-filter-main {
  background: url(https://www.benscycle.com/App_Themes/Skin_1/images/ptbg.jpg) repeat-x scroll left top rgba(0, 0, 0, 0);
 height: 35px;
    padding-top: 5px;
      width: 100%;
  margin-left: 7px;
}

.sv_product_wrap {  
  float: left;
  width: 23%;
  overflow: hidden;
  border: 1px solid #F4F4F4;
  align-content: center;
  text-align: center;
  box-shadow: 0 1px 4px rgba(163, 163, 163, 0.4);
  margin-bottom: 15px;
  max-height: 340px;
  }
  
.sv-filter a {
  padding:5px 10px;
  /*font-weight:bold;*/
  font-size:15px;
  color:#2D2D2D;
}
.sv-filter-name-selected {
  font-size:23px!important;
  text-decoration: none!important;
  background-color: #CD1041;
}

a.sv-filter-name-selected {
  color: #fff !important;
}

.sv-filter a:hover{
  font-weight:bold;
  font-size:22px;
  color:#CE1645;
}

.filter {
  list-style: none;
  margin: 0 auto 10px auto;
  font-size: 20px;
}


#sv-filter-info {
  font-size: 16px;
}


/* Product Card */

ul#sv-products-list {
  margin: 0;
  padding: 0!important;
}

li.sv-product-card {
  margin: 0 0 25px 0;
  list-style: none;
  position: relative;
  border-bottom: 1px #d5d5d5 solid;
  padding: 10px;
}

.scrollToTop{
	padding:10px; 
    margin-left: 750px;
	position:fixed;
	bottom:200px;
	display:none;
}
.scrollToTop:hover{
	text-decoration:none;
}

.grid-33 .sv-product-image-container, .tablet-grid-50 .sv-product-image-container, .mobile-grid-100 .sv-product-image-container {
  height: 200px;
  margin-bottom: 25px;
}

.grid-33 img, .tablet-grid-50 img, .mobile-grid-100 img {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
  margin: 10px auto;
  display: block;
}

.current-viewers {
  /* display: none; */
  opacity: 0;
  position: absolute;
  margin-top: -215px;
  margin-left: 9%;
  background-color: #F8A120;
  padding: 5px;
  width: 70%;
  text-align: center;
  font-size: 14px;
  color: #FFF;
  opacity: 1.03;
}

.current-viewers:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 45%;
  border-style: solid;
  border-width: 15px 15px 0; 
  border-color: #F8A120 transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.sv-product-image-container:hover .current-viewers {
  display: inline;
}

.fa {
  padding-right: 5px;
  margin: 3px 0 ;
  font-size: 30px;
}

/* Product Details */

/*.sv-product-details {

}*/

.sv-product-name {
  font-size: 15px;
  line-height: 20px;
  height: 50px;
}

.sv-product-name a{
  font-weight:normal!important;
}
.sv-trending-type  {
  font-size: 16px;
}

i, .sv-trending-type {
  display: inline;
  color: #a9a9a9;
}

.sv-product-price {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
}

a.product-url {
  text-decoration: none;
}

.view-details {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  background-color: #5c2946;
  cursor: pointer;
  color: #fff;
}

.sv-filter li {
  display: inline-block;
  float: left;
}

.sv-filter .tags {
  text-transform: capitalize;
  display: inline-block;
  font-size:16px !important;
  font-weight: 500;
  text-decoration: none;
}